#posts-list-container ul {
  display: grid;
  gap: 1rem; }
  #posts-list-container ul li {
    background: #b37de5;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    max-width: 30rem;
    border-radius: 0.3rem; }
    #posts-list-container ul li small {
      padding-top: 1rem; }
